.partners-menu-list{
    margin-top: 91px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners-menu-item:hover{
    cursor: pointer;
}

.partners-menu-image{

}
